<p-dialog [(visible)]="visible" resizable="false" draggable="false" (onHide)="onHide()" [style]="{ width: 'auto' }" [header]="titulo" [modal]="true">
    <ng-template #content>
        <div class="grid"></div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="w-full flex justify-between items-center gap-2">
            <p-button severity="secondary" (onClick)="onClickCancelar()" pRipple>Cancelar</p-button>
            <p-button severity="danger" (onClick)="onClickExcluir()" pRipple>Excluir</p-button>
        </div>
    </ng-template>
</p-dialog>
