<div>
    <app-map></app-map>
    <div>
        <p-card>
            <ng-template #title>{{ selectedDevice.name }}</ng-template>
            <div class="grid">
                <div class="col-12">Endereço: {{ selectedDevice.address }}</div>
                <div class="col-6">Latitude: {{ selectedDevice.latitude }}</div>
                <div class="col-6">Longitude: {{ selectedDevice.longitude }}</div>
                <div class="col-12">Nível da Água: {{ selectedDevice.waterLevelStatus }}</div>
            </div>
            <ng-template #footer>
                <div class="flex gap-4 mt-1">
                    <p-button label="Close" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
