<p-dialog 
    [(visible)]="visible" 
    maximizable="true" 
    draggable="false" 
    (onHide)="onHide()" 
    [style]="{ width: '90vw', maxWidth: '600px' }" 
    [header]="titulo" 
    [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
>
    <ng-template #content>
        <form [formGroup]="form" novalidate>
            <div class="formgrid grid">
                <div class="field col-12">
                    <input placeholder="Nome do Dispositivo" type="text" formControlName="name" pInputText class="w-full" />
                </div>
                <div class="field col-12">
                    <input placeholder="Identificador" type="text" formControlName="identifier" pInputText class="w-full" />
                </div>
                <div class="field col-12 md:col-6">
                    <p-fileupload
                        mode="basic"
                        name="front_photo"
                        chooseIcon="pi pi-upload"
                        accept="image/*"
                        maxFileSize="1000000"
                        (onSelect)="onUploadFotoFrontal($event)"
                        chooseLabel="Foto Frontal"
                        styleClass="w-full"
                    />
                </div>
                <div class="field col-12 md:col-6">
                    <p-fileupload
                        mode="basic"
                        name="side_photo"
                        chooseIcon="pi pi-upload"
                        accept="image/*"
                        maxFileSize="1000000"
                        (onSelect)="onUploadFotoLateral($event)"
                        chooseLabel="Foto Lateral"
                        styleClass="w-full"
                    />
                </div>
                <div class="field col-12 md:col-6">
                    <input placeholder="Longitude" type="number" formControlName="longitude" pInputText class="w-full" />
                </div>
                <div class="field col-12 md:col-6">
                    <input placeholder="Latitude" type="number" formControlName="latitude" pInputText class="w-full"/>
                </div>
                <div class="field col-12">
                    <p-button icon="pi pi-map-marker" (onClick)="getCurrentLocation()" label="Usar Localização Atual" class="w-full"></p-button>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="w-full flex justify-between gap-2">
            <p-button severity="secondary" (onClick)="onClickCancelar()" pRipple>Cancelar</p-button>
            <p-button severity="primary" (onClick)="onClickSalvar()" pRipple>Salvar</p-button>
        </div>
    </ng-template>
</p-dialog>
