<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button severity="success" [outlined]="true" label="Adicionar Device" icon="pi pi-plus" (onClick)="onClickAdicionar()" pRipple />
    </ng-template>
    <ng-template #end>
        <p-button [outlined]="true" icon="pi pi-filter-slash" (click)="onClickClear(dt)" />
        <p-button class="pl-2" [outlined]="true" icon="pi pi-refresh" (click)="onClickAtualizar()" />
    </ng-template>
</p-toolbar>

<p-table #dt [value]="devices" [(selection)]="selectedDevices" [rows]="10" [paginator]="true" [globalFilterFields]="['titulo', 'status']" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[10, 20, 50, 100]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Dispositivos</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input [(ngModel)]="searchValue" pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="titulo">
                Nome
                <p-sortIcon field="titulo" />
            </th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-device>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="device" />
            </td>
            <td>{{ device.name }}</td>
            <td>
                <p-tag [severity]="canEdit(device) ? 'success' : 'info'"
                       [value]="canEdit(device) ? 'Adicionado por você' : 'Adicionado por outro usuário'">
                </p-tag>
            </td>
            <td class="flex justify-end items-center gap-2">
                <p-button icon="pi pi-pencil" 
                         class="mr-2" 
                         [rounded]="true" 
                         [outlined]="true" 
                         (onClick)="onClickEditar(device)" 
                         [disabled]="!canEdit(device)"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<ctx-faculdade-adicionar-device
    *ngIf="adicionarVisible"
    [visible]="adicionarVisible"
    (visibleEvent)="onAdicionarVisibleEvent($event)"
    (successEvent)="onAdicionarSuccessEvent($event)"
    (cancelationEvent)="onAdicionarCancelationEvent($event)"
/>

<ctx-faculdade-editar-device
    *ngIf="editarVisible && selectedDevice"
    [visible]="editarVisible"
    [device]="selectedDevice"
    (visibleEvent)="onEditarVisibleEvent($event)"
    (successEvent)="onEditarSuccessEvent($event)"
    (cancelationEvent)="onEditarCancelationEvent($event)"
/>
